* {
    box-sizing: border-box;
}

@font-face {font-family:"Cyberverse Oblique";src:url("Cyberverse_Oblique.eot") format("eot"),url("Cyberverse_Oblique.woff") format("woff"),url("Cyberverse_Oblique.ttf") format("truetype"),url("Cyberverse_Oblique.svg#CyberverseOblique") format("svg");font-weight:normal;font-style:normal;}

html {
    font-size: xx-large;
    font-family: 'Cyberverse Oblique';
}

body {
    margin: 0px;
}

.contant {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 12rem;
}

.time {
    color: #1197d4;
    font-weight: 400;
}